*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 40px auto;
    min-height: 70dvh;
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr ;
    gap: 10px
    ;

}
.card{
    background-color: grey;
    border-radius: 10px;
    box-shadow: .5px .5px 2px 1px;
}
.card1{
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    grid-column: 2/4;
    grid-row: 2/3;
    /* grid-column: span 2; */
    background-color: tomato;

}
.container2{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.container2>div{
    font-size: 3rem;
    color: white;
    /* text-align: center; */
    /* align-content: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    display: grid;
    place-content: center;
}
.header{
    background-color: yellow;
    grid-column: 1/4;
}
.sidebar{
    background-color: orange;
    grid-row: 2/8;
}
.content1{
    background-color: #ce0102;
    grid-column: 2/4;
    grid-row: 2/5;
}
.content2{
    background-color: #d704fb;
    grid-column: 2/3;
    grid-row: 5/8;
}
.content3{
    background-color: #d704fb;
    grid-column: 3/4;
    grid-row: 5/8;
}
.footer{
    background-color: yellow;
    grid-column: 1/4;
}
.container3{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.container3>div{
    border: 1px solid;
    /* display: grid; */
    /* place-content: center; */
}
.Rankings{
    background-color: black;
    grid-column: 1/5;
    color: white;
    align-content: center;
}
.Siteaudit{
    background-color: black;
    grid-column: 5/7;
    color: white;
    align-content: center;
}
.Googlerankings{
    background-color: blue;
    grid-row: 2/4;
    color: white;
    text-align: center;
    align-content: center;
}
.Googlechange{
    background-color: blue;
    grid-row: 4/6;
    color: white;
     text-align: center;
    align-content: center;
}
.Googlechange2{
    background-color: yellow;
    grid-row: 2/6;
    grid-column: 2/5;
    /* align-content: center; */
}
.Crawlsummary{
    background-color: pink;
    grid-column: 5/7;
    grid-row: 2/6;
    /* align-content: center; */
}
.Backlinks{
    background-color: black;
    grid-column: 1/5;
    color: white;
    align-content: center;
}
.Errors{
    background-color: blue;
    grid-row: 6/8;
    grid-column: 5/6;
    color: white;
     text-align: center;
    align-content: center;
}
.Warnings{
    background-color: blue;
    grid-column: 6/7;
    grid-row: 6/8;
    color: white;
     text-align: center;
    align-content: center;
}
.Trustflow{
    background-color: green;
    grid-row: 7/9;
    grid-column: 1/2;
     text-align: center;
    align-content: center;
}
.Textlink{
    background-color: red;
    grid-column: 2/3;
    grid-row: 7/9;
     text-align: center;
    align-content: center;
}
.Newlinks{
    background-color: white;
    grid-row: 7/11;
    grid-column: 3/5;
    /* align-content: center; */
}
.Citations{
    background-color: brown;
    grid-row: 9/11;
    grid-column: 1/2;
     text-align: center;
    align-content: center;
}
.Followlinks{
    background-color: tomato;
    grid-row: 9/11;
    grid-column: 2/3;
     text-align: center;
    align-content: center;
}
.Issues{
    background-color: rebeccapurple;
    grid-column: 5/7;
    grid-row: 8/11;
}